{% extends 'title/base.html' %}

{% block meta_title %} Облік титулів {% endblock meta_title %}
{% block title_page %} Облік титулів {% endblock title_page %}

{% block content %} 
<div class='row'>
  <div class='col-2'>
    <a class='btn btn-primary' href='{% url "title:title_add" %}'>&#43; Титул</a>
  </div>
  
  <div class='col-2'>
    <a class='btn btn-primary' href='{% url "title:inletter_add" %}'>&#43; Вхідний лист</a>
  </div>
  
  <div class='col-2'>
    <a class='btn btn-primary' href='{% url "title:outletter_add" %}'>&#43; Вихідний лист</a>
  </div>
  
  <div class='col-2'>
    <a class='btn btn-primary' href='{% url "title:counterparty_add" %}'>&#43; Контрагент</a>
  </div>
  
  <div class='col-4'>
    <form action='{% url "title:titles_list" %}' method='GET'>
        <label for='search'>Пошук за назвою титулу</label>
        <input type='search' id='search' name='search'>
        <input type='submit' value='Знайти' name='search_button'>
    </form>
  </div>
  
</div>
	  
<div class='row'>
  <div class='col'>
    <form action="{% url 'title:titles_list' %}" method='GET'>
	
	  <div class='row'>
	 
	    <div class='col-2'>
		
		  <div class='form-group'>
		    <label for='year'>Рік</label>
			<select id='year' name='year'>
			  <option value=''>Всі</option>
	        {% for year in years %}
		      <option value='{{ year.year }}' {% if year.year == request.GET.year|add:0 %}selected{% endif %}>{{ year.year }}</option>
		    {% endfor %}
		    </select>
		  </div>
		  
		</div>
		
		<div class='col-5'>
		
		  <div class='form-group'>
		    <label for='type'>Тип титулу</label>
			<select id='type' name='type'>
		      <option value=''>Всі</option>
			  <option value='OB' {% if request.GET.type == 'OB' %}selected{% endif%}>Будівництво</option>
			  <option value='PVR' {% if request.GET.type == 'PVR' %}selected{% endif%}>Проектно-вишукувальні роботи</option>
		    </select>
		  </div>
		  
		</div>
		
		<div class='col-5'>
		    <label for='agreement'>Погодження Міністерства</label>
			<input type='checkbox' id='agreement' name='agreement' {% if request.GET.agreement == 'on' %}checked{% endif %}>
		</div>
		
	  </div>
	  
	  <div class='row'>
		  
		<div class='col-2'>
		  <div>
		    <label for='month'>Місяць</label>
			<select id='month' name='month'>
		      <option value=''>Всі</option>
			  {% for month in months %}
		      <option value='{{ month.month }}' {% if month.month == request.GET.month|add:0 %}selected{% endif %}>{{ month|date:'F' }}</option>
		    {% endfor %}
		    </select>
		  </div>
		  
		</div>
		
		
		<div class='col-5'>  
		    <label for='client'>Замовник</label>
			<select id='client' name='client'>
		      <option value=''>Всі</option>
			  {% for client in clients %}
			  <option value='{{ client }}'  {% if client == request.GET.client %}selected{% endif %}>{{ client }}</option>
			  {% endfor %}
		    </select>
		</div>
		
		
		<div class='col-5'>  
		    <label for='done'>Виконаний</label>
			<input type='checkbox' id='done' name='done' {% if request.GET.done == 'on' %}checked{% endif %}>
		</div>
	    
	  </div>
	  
	    <input type='submit' value='Застосувати' id='filtration_button' name='filtration_button'>
		<button><a href='{% url 'title:titles_list' %}'>Скинути фільтри</a></button>
	  
	</form>
  </div>
</div>
{% if titles %}
<div class='row'>
  <div class='col-xs-12'>
    <table class='table table-bordered table-hover'>
	  <thead>
	    <tr class='table-primary'>
		  <td>№</td>
		  <td>Назва титулу</td>
		  <td>Тип титулу</td>
		  <td>Замовник</td>
		  <td>Погодження Міністерства</td>
		  <td>Виконано</td>
		  <td>Примітки</td>
		</tr>
	  </thead>
	  
	  <tbody>
	  {% for title in titles %}
	    <tr>
		  <td>{{ forloop.counter}}</td>
		   <td><a href='{% url "title:title_detail" title.id %}'>{{ title.title }}</a><a href="{% url 'title:title_edit' title.id %}"> Редагувати</a></td>
		   <td>{{ title.get_type_display }}</td>
		   <td>{{ title.client }}</td>
		   <td>{{ title.ministry_agreement }}</td>
		   <td>{{ title.is_done }}</td>
		   <td>{{ title.notes }}</td>
		</tr>
	    
	  {% endfor %}
	  </tbody>
	
	
	</table>
  </div>
</div>
{% else %}
  <p>Титулів не знайдено.</p>
{% endif %}
{% endblock content %}