{% extends 'title/base.html' %}

{% block meta_title %} Облік титулів будівництва {% endblock meta_title %}
{% block title_page %} Облік титулів будівництва {% endblock title_page %}

{% block content %} 

<a class='btn btn-primary' href='{% url "title:title_add" %}'>Додати Титул</a>

<div class='row'>

  <div class='col-xs-12'>Панель фільтрації та пошуку</div>
  
</div>
	  
<div class='row'>
  <div class='col-xs-12'>
    <form action="" method='GET'>
	{% csrf_token %}
	  Рік <select>
	    {% for date in titles_dates_unique %}
		  <option value='{{ date.year }}'>{{ date.year }}</option>
		{% endfor %}
		</select>
		<input type='submit' value='Застосувати'>
	</form>
  </div>
</div>
{% if titles %}
<div class='row'>
  <div class='col-xs-12'>
    <table class='table table-bordered table-hover'>
	  <thead>
	    <tr class='table-primary'>
		  <td>№</td>
		  <td>Назва титулу</td>
		  <td>Тип титулу</td>
		  <td>Замовник</td>
		  <td>Погодження Міністерства</td>
		  <td>Виконано</td>
		  <td>Примітки</td>
		</tr>
	  </thead>
	  
	  <tbody>
	  {% for title in titles %}
	    <tr>
		  <td>{{ forloop.counter}}</td>
		   <td><a href='{% url "title:title_edit" title.id %}'>{{ title.title }}</a></td>
		   <td>{{ title.get_type_display }}</td>
		   <td>{{ title.client }}</td>
		   <td>{{ title.ministry_agreement }}</td>
		   <td>{{ title.is_done }}</td>
		   <td>{{ title.notes }}</td>
		</tr>
	    
	  {% endfor %}
	  </tbody>
	
	
	</table>
	{% else %}
	  <p>Тут поки що немає титулів.</p>
	{% endif %}
  </div>
</div>
{% endblock content %}