{% extends 'title/base.html' %}

{% block meta_title %} Облік титулів {% endblock meta_title %}
{% block title_page %} Облік титулів {% endblock title_page %}

{% block content %} 
<div class='row'>
  <div class='col-xs-4'>
    <a class='btn btn-primary' href='{% url "title:title_add" %}'>Додати Титул</a>
  </div>
  
  <div class='col-xs-8'>
    <form action='{% url "title:home" %}' method='GET'>
      <label for='search'>Пошук за назвою титулу</label>
      <input type='text' id='search' name='search'>
      <input type='submit' value='Знайти' name='search_button'>
    </form>
  </div>
  
</div>

<div class='row'>

  <div class='col-xs-12'>Панель фільтрації</div>
  
</div>
	  
<div class='row'>
  <div class='col-xs-12'>
    <form action="{% url 'title:home' %}" method='GET'>
	
	  <div class='row'>
	  <!--
	    <div class='col-xs-4'>
		
		  <div class='form-group'>
		    <label for='year'>Рік</label>
			<select id='year'>
	        {% for date in titles_dates_unique %}
		      <option value='{{ date.year }}'>{{ date.year }}</option>
		    {% endfor %}
		    </select>
		  </div>
		  
		  <div class='form-group'>
		    <label for='month'>Місяць</label>
			<select id='month'>
		      <option>Місяці</option>
		    </select>
		  </div>
		  
		</div>
		-->
		<div class='col-xs-4'>
		
		  <div class='form-group'>
		    <label for='type'>Тип титулу</label>
			<select id='type' name='type'>
		      <option value=''>Всі</option>
			  <option value='OB'>Будівництво</option>
			  <option value='PVR'>Проктно-вишукувальні роботи</option>
		    </select>
		  </div>
		  
		  <div class='form-group'>
		    <label for='client'>Замовник</label>
			<select id='client' name='client'>
		      <option value=''>Всі</option>
			  {% for client in unique_clients %}
			  <option value='{{ client }}'>{{ client }}</option>
			  {% endfor %}
		    </select>
		  </div>
		  
		</div>
		
		<div class='col-xs-4'>
		
		  <div class='form-group'>
		    <label for='agreement'>Погодження Міністерства</label>
			<input type='checkbox' id='agreement' name='agreement'>
		  </div>
		  
		  <div class='form-group'>
		    <label for='done'>Виконаний</label>
			<input type='checkbox' id='done' name='done'>
		  </div>
		  
		</div>
	    
	  </div>
	  
	  <input type='submit' value='Застосувати' id='filtration_button' name='filtration_button'>
		
	</form>
  </div>
</div>
{% if titles %}
<div class='row'>
  <div class='col-xs-12'>
    <table class='table table-bordered table-hover'>
	  <thead>
	    <tr class='table-primary'>
		  <td>№</td>
		  <td>Назва титулу</td>
		  <td>Тип титулу</td>
		  <td>Замовник</td>
		  <td>Погодження Міністерства</td>
		  <td>Виконано</td>
		  <td>Примітки</td>
		</tr>
	  </thead>
	  
	  <tbody>
	  {% for title in titles %}
	    <tr>
		  <td>{{ forloop.counter}}</td>
		   <td><a href='{% url "title:title_edit" title.id %}'>{{ title.title }}</a></td>
		   <td>{{ title.get_type_display }}</td>
		   <td>{{ title.client }}</td>
		   <td>{{ title.ministry_agreement }}</td>
		   <td>{{ title.is_done }}</td>
		   <td>{{ title.notes }}</td>
		</tr>
	    
	  {% endfor %}
	  </tbody>
	
	
	</table>
  </div>
</div>
{% else %}
  <p>Титулів не знайдено.</p>
{% endif %}
{% endblock content %}