{% extends 'title/base.html' %}

{% block meta_title %} Редагувати Титул {% endblock meta_title %}
{% block title_page %} Редагувати Титул {% endblock title_page %}

{% block content %} 
<form action='{% url "title:title_edit" title.id %}' method='POST'>
{% csrf_token %}
  {{ form.as_p }}
  <input type='submit' value='Внести зміни' id='submit_button' name='submit_button'>
  <input type='submit' value='Скасувати' id='cancel_button' name='cancel_button'>
  <button type='button'><a href="{% url 'title:title_delete' title.id %}">Видалити</a></button>
</form>
{% endblock content %}